---
layout: default
title: Slightly Innovative
---

    {% for post in site.posts %}
<header>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        {% if post.author %} &bull; {{ post.author }}{% endif %}
        {% if post.meta %} &bull; {{ post.meta }}{% endif %}
    </p>
</header>
<article>
    {{ post.content }}
</article>

{% endfor %}

<p>subscribe <a href="/feed.xml">via RSS</a></p>
