<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
<meta name="title" content="{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link rel="apple-touch-icon-precomposed" href="/public/image/logo_152x152.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Playfair+Display:400,700,900">

  <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

  <meta name="copyright" content="Copyrighted. All rights reserved.">

  <meta property="og:site_name" content="Slightly Innovative">
  <meta property="og:title" content="{% if page.title != "Home" %}{{ page.title }} - {% endif %}{{ site.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="/public/image/logo_184x184.png">
</head>
